:root {
  --primary: #ffffff00;
  --primary-text: #ffffff;
  --secondary: #E3E3E3;
  --secondary-text: #ffffff;
  --buttonBox: #A2E3FB;
  --button-text: #0948A9;
  --accent: #150D35;
  --accent-text: #ffffff;
  --footnote-text: #290000;
}
